body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    z-index: 2;
}

#brand img{
    height: 50px;
}

nav a {
    color: seashell;
}

.mission {
    background-image: url('../../images/background.jpg');
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 69px;
}

#container {
    background-color: black;
    width: 100%;
    height: 100px;
    align-items: center;
}

#container h2, #container h4 {
    margin: 0;
}

.teaOfTheMonth {
    position: relative;
    width: 1000px;
    height: 700px;
    top: 200px;
    font-weight: bold;
}

.tea-types {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.image {
    width: 300px;
    height: 200px;
}

.caption {
    margin-top: 10px;
}

.locations {
    background-image: url('../../images/locations.jpg');
    width: 1200px;
    height: 500px;
    display: inline-flex;
    position: relative;
    top: 300px;
}

.locations h3 {
    display: inline-block;
}

.places {
    /*display: inline-flex;*/
    align-content: center;
    width: 300px;
    height: 300px;
    margin: 15px 40px;
    background-color: black;
    opacity: 1;
}

.location-name {
    font-weight: bold;
}

footer {
    position: relative;
    top: 300px;
    height: 200px;
    text-align: center;
}

#copyright {
    padding-left: 20px;
    text-align: left;
}